# Add @lombok.Generated annotations to all generated nodes where possible
lombok.addLombokGeneratedAnnotation = true
# dd a @java.beans.ConstructorProperties to generated constructors
lombok.anyConstructor.addConstructorProperties = true
# Lombok will copy any of these annotations from the field to the constructor parameter, the setter parameter, and the getter method
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
